<div class="bg-white pt-16 border-t border-gray-200">
  <!-- LINKS -->
  <div class="flex justify-center flex-wrap mb-8">
    <a class="text-gray-400 mb-2 hover:border-gray-600 font-light mx-2 border-b" href="#">About us</a>
    <a class="text-gray-400 mb-2 hover:border-gray-600 font-light mx-2 border-b" href="#">Terms & conditions</a>
    <a class="text-gray-400 mb-2 hover:border-gray-600 font-light mx-2 border-b" href="#">Contact Us</a>
  </div>
  
  <!-- SOCIAL MEDIA -->
  <ul class="flex justify-center flex-wrap mb-8">
    <li>
      <a href="https://abdelaziz321.github.io" target="_blank" class="inline-block px-2 py-2 mx-1 border border-gray-200 hover:bg-gray-100 rounded-full">
        <svg-icon svgClass="h-7" src="assets/social-icons/whatsapp.svg"></svg-icon>
      </a>
    </li>
    <li>
      <a href="https://abdelaziz321.github.io" target="_blank" class="inline-block px-2 py-2 mx-1 border border-gray-200 hover:bg-gray-100 rounded-full">
        <svg-icon svgClass="h-7" src="assets/social-icons/instagram.svg"></svg-icon>
      </a>
    </li>
    <li>
      <a href="https://abdelaziz321.github.io" target="_blank" class="inline-block px-2 py-2 mx-1 border border-gray-200 hover:bg-gray-100 rounded-full">
        <svg-icon svgClass="h-7" src="assets/social-icons/twitter.svg"></svg-icon>
      </a>
    </li>
    <li>
      <a href="https://abdelaziz321.github.io" target="_blank" class="inline-block px-2 py-2 mx-1 border border-gray-200 hover:bg-gray-100 rounded-full">
        <svg-icon svgClass="h-7" src="assets/social-icons/facebook.svg"></svg-icon>
      </a>
    </li>
  </ul>

  <!-- FOOTER -->
  <footer class="flex justify-center align-text-top pb-2 text-sm font-light text-gray-500">
    developed with
    <svg-icon svgClass="h-4 mx-1 fill-[#FF0000]" src="assets/icons/heart.svg"></svg-icon>
    by
    <a href="https://abdelaziz321.github.io" target="_blank" class="ml-1 border-b hover:border-gray-600">Abdelaziz Sliem</a>
  </footer>
</div>