<div class="max-w-lg m-auto px-3 mt-14 lg:mt-24">
  <div class="shadow-md py-8 px-8 bg-white">
    <h1 class="font-medium text-2xl mt-3 text-center">Login</h1>

    <form [formGroup]="form" (ngSubmit)="login($event, loginRequestDto)">
      <!-- ALERT -->
      <div
        *ngIf="alertMessage"
        class="p-4 my-4 text-sm text-red-700 bg-red-100 border border-red-400"
      >{{ alertMessage }}</div>
      
      <!-- FORM -->
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="loginRequestDto"
      ></formly-form>

      <div class="flex justify-between mt-7">
        <div>
          <a href="#" class="text-xs font-light text-gray-500 border-b hover:border-gray-600">forgot password?</a>
        </div>

        <!-- LOADER -->
        <div
          *ngIf="isFormLoading"
          style="border-top-color:transparent"
          class="w-8 h-8 border-4 border-primary rounded-full animate-spin"
        ></div>

        <!-- SUBMIT BUTTON -->
        <button
          *ngIf="!isFormLoading"
          type="submit"
          class="self-end text-white bg-primary py-2 px-7"
        >Login</button>
      </div>
    </form>

    <div class="border-b border-gray-200 my-5"></div>


    <!-- SOCIAL LOGIN -->
    <div class="flex justify-center mb-4">
      <p class="inline-flex md:mx-2 text-sm font-light text-gray-400">
        or use
        <strong class="font-medium ml-1">Social Account</strong>
      </p>
    </div>

    <ul class="flex justify-center flex-wrap mb-4 space-x-5">
      <li>
        <a href="#" class="inline-block opacity-90 hover:opacity-100">
          <svg-icon svgClass="h-9" src="assets/social-icons/google.svg"></svg-icon>
        </a>
      </li>
      <li>
        <a href="#" class="inline-block opacity-90 hover:opacity-100">
          <svg-icon svgClass="h-9" src="assets/social-icons/github.svg"></svg-icon>
        </a>
      </li>
      <li>
        <a href="#" class="inline-block opacity-90 hover:opacity-100">
          <svg-icon svgClass="h-9" src="assets/social-icons/facebook.svg"></svg-icon>
        </a>
      </li>
    </ul>

    <!-- REGISTER LINK -->
    <p class="text-xs text-center font-light text-gray-400">
      Don't have an account?
      <a href="#" class="text-gray-500 border-b hover:border-gray-600">Register</a> Now
    </p>
  </div>
</div>