<div class="px-4 sm:px-6 lg:px-8 pb-10">
  <div class="container mx-auto bg-white border pt-6 px-6 md:pt-12 md:px-12">
    <div class="flex flex-wrap -mx-2">

      <div *ngFor="let product of products; let index = index" class="w-full sm:w-1/2 lg:w-1/3 mb-12 px-6">
        <div class="border border-gray-200 bg-gray-50">
          <!-- IMAGE -->
          <a href="#">
            <img src="assets/fake_product.jpg" alt="product image" class="w-full">
          </a>

          <!-- TITLE -->
          <h3 class="text-gray-600 font-medium capitalize border-t px-2 py-3">
            <a href="#">{{ product.name }}</a>
          </h3>

          <!-- MIDDLE INFO: CATEGORY + SALES + PRICE -->
          <div class="flex flex-wrap">
            <div class="w-1/3 px-2 border-t border-b py-2">
              In:
              <a
                href="#"
                target="_blank"
                class="ml-1 border-b hover:border-gray-600"
              >{{ product.category.name }}</a>
            </div>
            <div class="w-1/3 px-2 border py-2">
              Sales: <span class="text-primary">{{ product.total_sales }}</span>
            </div>
            <div class="w-1/3 px-2 border-t border-b py-2">
              Price: <span class="text-primary">{{ product.price }}</span>
            </div>
          </div>

          <!-- RATING + ADD TO CART BUTTON -->
          <div class="flex items-center justify-between px-2 py-3">
            <div class="flex justify-center items-center space-x-1">
              <svg-icon 
                *ngFor="let i of [].constructor(product.review)"
                src="assets/icons/star.svg"
                svgClass="w-4 h-4 fill-current text-yellow-400"
              ></svg-icon>

              <svg-icon 
                *ngFor="let i of [].constructor(5 - product.review)"
                src="assets/icons/star.svg"
                svgClass="w-4 h-4 fill-current text-gray-200"
              ></svg-icon>
            </div>

            <button type="button" class="p-2 bg-white border hover:border-primary">
              <svg-icon *ngIf="product.is_in_cart" src="assets/icons/cart.svg" svgClass="h-5 fill-current text-primary"></svg-icon>
              <svg-icon *ngIf="!product.is_in_cart" src="assets/icons/cart.svg" svgClass="h-5 fill-current text-gray-400"></svg-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>