<div class="px-4 sm:px-6 lg:px-8" style="background-image: linear-gradient(0deg, #c9cfd6 10%, #f1f5f8 55%)">
  <div class="container mx-auto">
    <div class="flex justify-center sm:justify-start flex-wrap py-28">
      <div class="sm:w-1/2 mb-16 sm:mb-0 flex justify-center sm:justify-start items-center">
        <div class="text-center sm:text-left">
          <h1
            class="uppercase font-black font-serif text-center sm:text-left text-2xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl tracking-wide mb-5">
            Wanna find your
            <br />
            <span class="text-primary">inner peace</span>?
          </h1>
          <a href="#"
            class="inline-block px-3 py-2 border-2 border-primary bg-primary text-white text-xl hover:bg-white hover:text-primary">Shop
            Now</a>
        </div>
      </div>

      <div class="sm:w-1/2">
        <div class="flex justify-center">
          <img class="w-1/2 sm:w-3/5" src="assets/potted-plant.webp" alt="banner">
        </div>
      </div>
    </div>
  </div>
</div>